<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digiitplay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Apteon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiitPlay">
        <activity
            android:name=".OperatorOverloadScoreHistory.ScoreHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorOverload.OperatorOverloadScoreActivity"
            android:exported="false"
            android:parentActivityName=".OperatorOverload.OperatorOverloadDashboardActivity" />
        <activity
            android:name=".OperatorOverload.OperatorOverloadScoreActivity2"
            android:exported="false"
            android:parentActivityName=".OperatorOverload.OperatorOverloadDashboardActivity" />
        <activity
            android:name=".OperatorOverload.OperatorOverloadGameActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorOverload.OperatorOverloadDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ShapeShift.ShapeShiftDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ShapeShift.ShapeShiftGameActivity"
            android:exported="false" />

        <activity
            android:name=".ShapeShift.ShapeShiftScoreActivity"
            android:exported="false" />

        <activity
            android:name=".ShapeShiftScoreHistory.ShapeShiftScoreHistoryActivity"
            android:exported="false" />

        <activity android:name=".login.login"
            android:exported="false"/>

        <activity android:name=".login.SignUp"
            android:exported="false"/>

        <activity android:name=".login.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Dashboard.DashboardActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>